{
    "presets": [
        "react",
        "stage-2"
    ],
    "env": {
        "development": {
            "retainLines": true
        },
        "node": {
            "presets": ["es2015-node"]
        }
    }
}
