---
  plugins:
    - react

  rules:
    quotes:
      - 2
      - single
    func-style:
      - 2
      - declaration

  env:
    node: true
    es6: true

  ecmaFeatures:
    jsx: true

  extends:
    - eslint:recommended
