# 0 - turn the rule off
# 1 - turn the rule on as a warning (doesn't affect exit code)
# 2 - turn the rule on as an error (exit code is 1 when triggered)

---
  ecmaFeatures:
    modules: false

  env:
    node: true
    es6: true

  extends:
    - eslint:recommended
    - defaults/configurations/walmart/es6

  rules:
    prefer-arrow-callback: 0
    quotes:
      - 2
      - single
    indent:
      - 2
      - 4
    max-len:
      - 2
      - 120
      - 4
    one-var:
      - 2
      - always
    func-style:
      - 2
      - declaration
