# 0 - turn the rule off
# 1 - turn the rule on as a warning (doesn't affect exit code)
# 2 - turn the rule on as an error (exit code is 1 when triggered)

---
  ecmaFeatures:
    modules: false

  env:
    node: true
    es6: true

  extends:
    - eslint:recommended

  rules:
    quotes:
      - 2
      - single
    func-style:
      - 2
      - declaration
