language: node_js
notifications:
  email: false
install:
- npm install
- gem install pact_broker-client
after_script: npm run report-coverage
deploy:
- provider: script
  skip_cleanup: true
  script: npm run pact:publish
- provider: heroku
  app: travi-org-admin
  api_key:
    secure: Upf86PmPxhI0wZ3+iBomvGY/QPHGAB0bPWsGyQouhZQTwkGr0C5PmndH/2rX2acvGi2N1Z4M+XIdbZy43wIrObfR2ST4U87AMbDsFmkwQPRT4ZaUYXIYTxvZjVV5N+Xwd6RszDmoVJDYan7jpFO2zMtPKrCDX8dCFHV22I+qXsA=
  on:
    condition: $(pact-broker can-i-deploy --pacticipant travi.org-admin --version "$TRAVIS_COMMIT" --broker-base-url pact-api.travi.org)
env:
  global:
  - FORCE_COLOR=1
  - NPM_CONFIG_COLOR=always
  - secure: ssRC8iYx+sj2rxBfZMMWIVB15+AV8aU7Y1aW8aPFjuNNaypPecMuMIbGROcgTeywvHWaONJqXQz/coMwGgNtQDnyUajDNWmSzc5ezWqWir0ooNiR0pr0R+5otTA9gL/4s2UN+NI3k2LAp9CIX7gLkGJTqIXgcWX7F4yEGMOWdn4=
