<!doctype html>
<html lang="en-us">
    <head>
        {{{ title }}}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#c80000">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Permanent+Marker:regular" />
        <link rel="stylesheet" href="{{ resources.main.css }}" />
    </head>
    <body>
        <div id="wrap"><div>{{{ renderedContent }}}</div></div>
        <script>__INITIAL_STATE__ = '{{{ initialState }}}'; {{#boom}}__BOOM__ = {{/boom}}{{{boom}}}</script>
        <script src="https://cdn.polyfill.io/v2/polyfill.min.js"> </script>
        <script src="{{ resources.main.js }}"> </script>
    </body>
</html>
