$thumb-size: 32px;
li .thumbnail {
    height: $thumb-size;
    width: $thumb-size;
    margin: 0 10px 0 0;
    border-radius: $thumb-size / 2;
    border: none;
    display: inline;
    padding: 0;

}
