<!doctype html>
<html lang="en-us">
    <head>
        {{{ title }}}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#c80000">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Permanent+Marker:regular" />
        <link rel="stylesheet" href="/resources/js/styles.css" />
    </head>
    <body>
        <div id="wrap">{{{ renderedContent }}}</div>
        <script>__INITIAL_STATE__ = '{{{ initialState }}}';</script>
        <script src="/resources/js/bundle.js"> </script>
        <script>(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;e=o.createElement(i);r=o.getElementsByTagName(i)[0]; e.src = 'https://www.google-analytics.com/analytics.js';r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));ga('create','UA-2890413-9','auto');ga('send','pageview');</script>
    </body>
</html>
