<!doctype html>
<html lang="en-us">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Permanent+Marker:regular" />
        <link rel="stylesheet" href="/resources/css/theme.css" />
    </head>
    <body>
        {{{ renderedContent }}}
        <script src="/resources/js/common.js"> </script>
        <script src="/resources/js/app.js"> </script>
        <script>(function(G,o,O,g,l){G.GoogleAnalyticsObject=O;G[O]||(G[O]=function(){(G[O].q=G[O].q||[]).push(arguments)});G[O].l=+new Date;g=o.createElement('script'),l=o.scripts[0];g.src='https://www.google-analytics.com/analytics.js';l.parentNode.insertBefore(g,l)}(this,document,'ga'));ga('create','UA-2890413-9');ga('send','pageview')</script>
    </body>
</html>
