<!doctype html>
<html lang="en-us">
    <head>
        {{{ title }}}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#c80000">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Permanent+Marker:regular&amp;text=Travi" />
        {{ #resources.css }}<link rel="stylesheet" href="{{ . }}" />{{ /resources.css }}
    </head>
    <body>
        <div id="wrap"><div>{{{ renderedContent }}}</div></div>
        <script nonce="{{ script-nonce }}">__INITIAL_STATE__ = {{{ initialState }}}; {{#boom}}__BOOM__ = {{/boom}}{{{boom}}}</script>
        <script src="https://cdn.polyfill.io/v2/polyfill.min.js"> </script>
        {{ #resources.js }}<script src="{{ . }}"> </script>{{ /resources.js }}
    </body>
</html>
