---
  env:
    mocha: true

  globals:
    sinon: false
    assert: false
    refute: false
    document: false

  rules:
    react/jsx-uses-react: 2
    no-mixed-requires: 2
    max-nested-callbacks:
      - 2
      - 4
